<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<title>Reservation Detail</title>
</head>
<body>
<div>
    <strong>Reservation Identifier:</strong>
    <strong style="display: inline" th:text="${reservation.id}"></strong>
</div>
<hr>
<div>
    <p th:text="${reservation.clientName}"></p>
    <p th:text="${reservation.phoneNumber}"></p>

</div>
<div>
    <p th:text="${reservation.getRealDate()}"></p>
    <p th:if="${reservation.isApprove() == false}">Waiting</p>
    <p th:if="${reservation.isApprove() == true}">Approved</p>
</div>
<br>
<br>
<table>
    <thead>
    <tr>
        <th>Table Type</th>
        <th>Number Of Table</th>
    </tr>
    </thead>
    <tbody>
<tr th:each="detail : ${details}">
    <td th:text="${detail.table.tableTypes} +' seats'"></td>
    <td th:text="${detail.numberOfTables}"></td>
</tr>
    </tbody>
</table>


</body>
</html>